
  @media all and (min-width: 800px) {
    .hamburger {
      display: none;
    }

    .icon-menu {
      display: inline !important;
      float: right;
    }
    nav ul li {
      float: right;
      border: 1px solid black;
      background-color: white;
      margin-right: .4em;
      font-size: 1.5em;
    }
  }
