
@media all and (min-width: 825px) {
  .hamburger {
    display: none;
  }

  h1 {
    position: relative;
    top: 1vh;
    font-size: 1em;
  }

  .icon-menu {
    display: inline;
    float: right;
    position: relative;
    top: 6vh
  }
  nav ul li {
    margin-right: .4em;
    font-size: 1.5em;
    display: inline;
  }
  ul{
    column-count: 4;
    width: 16vw;
  }
  header{
    height: 16vh;
    position: relative;
  }
  h2{
    display: block;
    font-size: 4em;
    text-align: center;
  }

  .instructions {
    font-size: 1em;
    width: 28vw;
    float: left;
  }

  .introImages {
    width: 50%;
  }

  .hideMeForDesktop {
    display: none;
  }

  #notepad {
    float: left;
  }

  button {
    height: 3vw;
    width: 13vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 0%;
  }
  #carIcons{
    position: absolute;
    top: 50vh;
    right: 3.5vw;
  }
  #carIcons li img{
    opacity: 0.6;
    cursor: pointer;
  }
  #carIcons li img:hover{
    opacity: 1;
  }
  #carSelect{
    position: absolute;
    top: 46vh;
    right: 3vw;
  }
  #removeMarker{
    position: absolute;
    top: 38vh;
    right: 3vw;
    height: 7vh;
  }

  #map {
    width: 70vw;
    height: 55vw;
    float: left;
  }

  #userName,#recipient{
    width: 50%;
  }

.cargif {
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: -8.5vh;
  width: 400px;
  left: 7vw;
}

.cargif img {
  width: 100%;
  position: relative;
  top: -4vh;
}

  .introInstructions{
    text-align: center;
    font-size: 1.5em;
  }
  #logo {
    font-style: oblique;
    font-size: 2em;
    margin: 2.5vh 0vw;
    float: left;
    color: black;
  }
  #navmap {
    position: absolute;
    right: -2vh;
    top: -2vh;
    color: black;
    font-size: 1.5em;
  }
  #navabout {
    position: absolute;
    right: 7vh;
    top: -2vh;
    color: black;
    font-size: 1.5em;
  }

  .tab {
    display: inline-block;
    font-size: 2em;
  }
  .tab a {
    color: black;
    padding: 0 1vw;
  }
  #formField {
    font-size: 2em;
    width: 74.7%;
  }
  .mapPage button, .notesPage button {
    font-size: 1em;
  }
  .mapPage p {
    font-size: 1.5em;
  }
  #setAddress {
    width: 7vw;
    position: relative;
    top: -.9vh;
    float: none;
  }
  .mapPreviewBox {
    border: 1px solid black;
    height: 25%;
    width: 40%;
  }
  #mapPreview{
    height: 100%;
    width: 100%;
  }
  input, textarea {
    font-size: 2em;
  }
  .notesPage section{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2vh;
  }
  .aboutImage {
    display: inline-block;
    width: 28%;
  }
  .aboutBlurb {
    display: inline-block;
    width: 70%;
  }
  .car {
    width: 20vw;
    height: 20vh;
    border: 5px groove black;
    transition: transform .5s;
  }
  .car:hover{
    transform: scale(1.3);
  }
}
