.clearfix {
  clear: both;
}

body{
  width: 100%;
}

header {
  padding: 25px 25px 70px 25px;
}

form {
	padding: 2vh;
}

main {
  margin: 2vh 5vw;
}

.instructions {
  width: 100%;
}

.introImages {
  width: 25%;
}

#notepad {
  float: right;
}

.aboutUs {
  margin: 0vh 0 5vh;
}

#mapPageInstructions {
	padding-bottom: 2vh;
}

#map {
  width: 75vw;
  height: 60vw;
  float: left;
}
.carIcons {
  width: 12vw;
  float: right;
}
