.clearfix {
  clear: both;
}

body{
  width: 100%;
}

header {
  padding: 25px 25px 0px 25px;
}

main {
  margin: 5vh 8vw;
}

.instructions {
  width: 100%;
}

.introImages {
  width: 25%;
}

#notepad {
  float: right;
}

.aboutUs {
  margin: 0vh 0 5vh;
}

#mapPageInstructions {
	padding-bottom: 2vh;
}

.carIcons {
  width: 45%;
  float: right;
}
