h1 {
  font-style: oblique;
  font-size: 30px;
  margin-bottom: 20px;
  float: left;
}

section img {
  height: 20vh;
}

nav {
  display: inline-block;
  top: -50px;
  left: 540px;
  float: right;
}

.instructions {
  font-size: 1em;
}

.tab {
  display: inline-block;
}

.tab a {
  color: #2FC2FF;
  padding: 0 8vw;
}

.hamburger {
  font-size: 2em;
  padding-right: 4vw;
  float: right;
}

.icon-menu {
  display: none;
  margin: auto;
}

.text-area{
	width: 100%;
	border: 1px solid black;
}

#robCar{
  max-width: 100%;
}

button {
  height: 10vh;
  width: 25vw;
  margin: 20px;
	font-size: 3vw;
}
input{
  height: 8vh;
  width: 31vw;
}
