h1 {
  font-style: oblique;
  font-size: 2em;
  float: left;
}
h2 {
  display: none;
}
p {
    font-size: 1em;
}

.introInstructions {
  margin-bottom: 2vh;
}

section img {
  height: 20vh;
}

nav {
  display: inline-block;
  top: -50px;
  left: 540px;
  float: right;
}

button {
  border-radius: 13%;
  background-color: #303F9F;
  border-color: black;
  color: white;
  height: 10vh;
  width: 25vw;
  margin: 20px;
	font-size: 3vw;
}

input{
  height: 8vh;
  width: 31vw;
}

.tab {
  display: inline-block;
}

.tab a {
  color: black;
  padding: 0 8vw;
}
#navmap {
   position: absolute;
   right: -2vh;
   top: 9vh;
   color: black;
   font-size: 1.5em;
}

#navabout {
position: absolute;
right: 7vh;
top: 9vh;
color: black;
font-size: 1.5em;
}

.hamburger {
    font-size: 2em;
    padding-right: 4vw;
    float: right;
    position: absolute;
    top: 3.6vh;
    right: 4vw;
    color: black;
}

.icon-menu {
  display: none;
  margin: auto;
}

.text-area{
	width: 100%;
	border: 1px solid black;
}

.aboutPage section{
  font-size: 1.5em;
}

#robCar{
  max-width: 100%;
}

#map {
  height: 70vw;
  width: 100%;
}

#mapPreview{
  height: 70vw;
  width: 100%;
}

#move{
  display: block;
}

#userName,#recipient, #subject{
  width: 100%;
}

#logo {
  font-style: oblique;
  font-size: 1em;
  float: left;
  color: black;
}

.cargif img {
  width: 50%;
    position: relative;
    top: -5vh;
}

#setAddress {
  width: 17%;
  float: right;
  margin: 0;
  height: 8vh;
}
